@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>Get to Know Joel</h1>
<ul>
    <li>
        <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>
        <p>A fast-paced improv comedy group where Joel regularly performs.</p>
    </li>
    <li>
        <a href="https://baconsale.com/" target="_blank">Baconsale</a>
        <p>A fun and entertaining podcast covering movies, music, and pop culture.</p>
    </li>
</ul>

<a href="https://baconsale.com/" target="_blank">
    <img src="~/img/BaconsaleKate.jpg" alt="Joel's Baconsale Photo" width="300">
</a>
<p>Click the image to check out Baconsale!</p>


